<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h2>Login</h2>

<form method="POST" action="/login">
    <input type="text" name="username" placeholder="نام کاربری" required>
    <br><br>

    <input type="password" name="password" placeholder="رمز عبور" required>
    <br><br>

    <label>
        <input type="checkbox" name="remember">
        مرا به خاطر بسپار
    </label>
    <br><br>

    <button type="submit">ورود</button>
</form>

</body>
</html>
